/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Apply Poppins font to the entire page */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'poppins';
}
